body {
	background-color: #c3d4c1;
}

h1 {
	color: 3c722c;
	margin-left: 20px;
	font-family: fantasy;
}

 th, td {
  padding: 10px;
  
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3c722c;
}

img {
	  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}
.topnav {
  overflow: hidden;
  background-color: #485c45;
 }
	
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#3c722c;
  color: black;
}

.topnav a.active {
  background-color: #344f39;
  color: white;
}